
.machine {
  border:4px solid #111;
  background:#444;
  position:absolute;
  height:100%;
  width:100%;

  background-image: -moz-linear-gradient(top, #444 0%, #000 100%);
  background-image: -o-linear-gradient(top, #444 0%, #000 100%);
  background-image: -webkit-gradient(linear, top, bottom, color-stop(, #444), color-stop(1, #000));
  background-image: -webkit-linear-gradient(top, #444 0%, #000 100%);
  background-image: linear-gradient(to bottom, #444 0%, #000 100%);
  padding:10px;
}

/* is this needed? There's already glass on the phone */
.glass {
  pointer-events: none;
}

.door {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:50px;
  background:#222;
  color:#555;
  text-align:center;
  padding:10px;
}
.door h2 {
  margin:0;
}

.pad {
  position:absolute;
  z-index:99;
  width:100%;
  height:100%;
}

.pad .btns {
  padding:30px;
  text-align:center;
  background:#444;
  width:200px;
  margin:15% auto;
  border:4px solid #333;
  border-radius:8px;
  -moz-border-radius:8px;
}

.pad .btn-inverse {
  background:#333;
  color:#ccc;
  border:2px solid #222;
  width:36px;
  height:36px;
  margin:4px;
}

.pad .readout {
  width:100%;
  height:30px;
  font-size:14px;
  padding-top:3px;
  border:3px solid #211;
  margin-bottom:6px;
  background:#300;
  color:#c00;
  font-family:monospace;
}

.slot {
  position:relative;
  width:50px;
  height:50px;
  margin:15px;
  float:left;
}

.snack {
  position:absolute;
  top:0;
  width:50px;
  height:50px;
  background:#bbb;
  color:#444;
  text-align:center;
  padding:15px 10px;
}

.snack h2 {
  font-size:12px;
  margin:0;
}

.snack-label {
  background:black;
  font-size:10px;
  margin:2px;
  color:white;
  padding:4px;
  display:inline;
  font-weight:bold;
}

.snack.img {
  background:none;
  padding:0;
}
.snack img {
  width:100%;
}

